<div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
        <h2> Add product </h2>
        <form #form="ngForm"  (submit)= "save(form)">
            <div class="alert alert_danger" *ngIf="formStatus.submitted && !formStatus.valid">
            Failed to add new product
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="product.name" #name="ngModel" required
                    minlength="3">
                <div *ngIf="name.invalid && name.touched">
                    <div *ngIf="name.errors && name.errors.required" class="text-danger">Name can not be empty</div>
                    <div *ngIf="name.errors && name.errors.minlength" class="text-danger">Minimum length 3 charecters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Brand</label>
                <input type="text" class="form-control" name="brand" [(ngModel)]="product.brand" #brand="ngModel"
                    required>
            </div>
            <div class="form-group">
                <label for="name">Price</label>
                <input type="number" class="form-control" name="price" [(ngModel)]="product.price" #price="ngModel"
                    required>
            </div>
            <div class="form-group">
                <label for="name">Quantity</label>
                <input type="number" class="form-control" name="quantity" min="1" max="1000"
                    [(ngModel)]="product.quantity" #quantity="ngModel" required>
            </div>
            <div class="form-group">
                <label for="name">Manufacturing date</label>
                <input type="date" class="form-control" name="quantity" [(ngModel)]="product.manufacturingdate"
                    #mfgdate="ngModel" required>
            </div>
            <div class="form-group">
                <label for="name">Reorder level</label>
                <input type="number" class="form-control" name="reorderlevel" min="1" max="1000"
                    [(ngModel)]="product.reorderlevel" #rlevel="ngModel">
            </div>
            <div class="form-group">
                <label for="name">Tax Rate</label>
                <input type="number" class="form-control" name="taxrate" min="1" max="100" [(ngModel)]="product.taxrate"
                    #trate="ngModel" required>
            </div>
            <div class="form-group">
                <label for="name">Image url name</label>
                <input type="text" class="form-control" name="imageurl" [(ngModel)]="product.imageurl"
                    #imgurl="ngModel">
            </div>
            <div class="form-group">
                 <label for="category">Category</label>
                 <select [(ngModel)]="product.categoryId" class="form-control" name="category" [(ngModel)]="product.categories"
                 #cat="ngModel">
                   <option [ngValue]="undefined" disabled>--Select--</option>
                   <option *ngFor="let cat of categories|async" [ngValue]="cat.id">{{cat.name}}</option>
                 </select>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>