<div class="row">
    <div class="col-md-6 col-lg-6 mx-auto">
        <table class="table table-striped table-sm table-bordered">
           <tr>
              <th>
                 Name 
              </th> 
              <th>{{product.name}}</th>
           </tr>
           <tr>
                <th>
                   Brand 
                </th> 
                <th>{{product.brand}}</th>
             </tr>
             <tr>
                    <th>
                       Price 
                    </th> 
                    <th>{{product.price|currency:'INR'}}</th>
                 </tr>
                 <tr>
                <th>
                      Availability 
                </th> 
                <th [ngClass]="{'text-success':product.quantity>0,'text-danger':product.quantity<=0}">
                    {{product.quantity| availability}}</th>
                </tr>
                <tr colspan="2" class="text-right">
                    <button class="btn btn-success" [disabled]="product.quantity<=0" >Add to Cart</button>
                </tr>
        </table> 
    </div>
</div>
