<div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
        <h2>Register</h2>
        <form [formGroup]="userForm" (submit)="register()">
            <div class="form-group">
                <label for="fullname">FullName</label>
                <input type="text" name="fullname" formControlName="fullname" class="form-control" />
                <div>
                    <div *ngIf="Fullname.invalid && Fullname.touched" class="text-danger">
                        <div *ngIf="Fullname.errors && Fullname.errors['required']">
                            Full name is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">UserName</label>
                <input type="text" name="username" formControlName="username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" formControlName="password" class="form-control" />
                <div *ngIf="Password.invalid && Password.touched" class="text-danger">
                        <div *ngIf="Password.errors && Password.errors['required']">
                            Password is required
                        </div>
                        <div *ngIf="Password.errors && Password.errors['minlength']">
                                minimum length neede
                            </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" formControlName="email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Mobile</label>
                <input type="text" name="mobile" formControlName="mobile" class="form-control" />
            </div>
            <div>
                <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Register</button>
            </div>

        </form>
    </div>
</div>